/* src/components/ui/Container.module.css */

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.sm {
    max-width: 540px;
}

.md {
    max-width: 720px;
}

.lg {
    max-width: 960px;
}

.xl {
    max-width: 1140px;
}

.fluid {
    max-width: 100%;
}