/* src/components/ui/Spinner.module.css */

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 0.25rem solid #f3f3f3;
    /* Light grey */
    border-top: 0.25rem solid #0d6efd;
    /* Blue */
    border-radius: 50%;
    animation: spin 0.75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.textCenter {
    text-align: center;
    margin: 2rem 0;
}