.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formGroup {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.input,
.textarea,
.select {
    padding: 0.2rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border 0.2s;
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: green
}

.textarea {
    resize: vertical;
    min-height: 80px;
}

.select {
    background-color: #fff;
}